body {
  color: white;
  background-color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

div.panel {
  background-color: #111;
  border: 1px solid #333;
  margin: 0 0 0.8rem;
}

div.row.has-subpanels {
  margin: 0;
}

h2 {
  margin-bottom: 0.9rem;
}

div.row.panel {
  padding: 0.9rem 0;
}

.tooltip {
  background-color: black !important;
}

footer {
  background-color: #333;
  border-top: 2px solid #aaa;
  padding: 15px;
  text-align: center;
}

footer .octicon {
  color: #a00026;
}
