@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "./darkTheme.scss";

h2,
h3,
h4 {
  text-align: center;
}

a,
a:hover {
  color: #37becc;
}

footer li {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}

.case-summary h2 strong {
  font-size: 2.8rem;
}

.case-summary h3 strong {
  font-size: 2.4rem;
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
}

.case-summary h3 {
  font-size: 1.4rem;
  vertical-align: middle;
}

.hospitalizations {
  padding: 15px 0;
  li {
    vertical-align: middle;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    text-align: left;
  }

  li svg {
    vertical-align: middle;
  }

  li strong {
    font-size: 1.8rem;

    margin: 0 0.4rem 0 1.4rem;
  }

  li div {
    vertical-align: middle;
    font-size: 1.3rem;
  }
}
