@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "./darkTheme.scss";

h2,
h3,
h4 {
  text-align: center;
}

a,
a:hover {
  color: #37becc;
}

footer li {
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}

.case-summary strong {
  font-size: 2.8rem;
}
